<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <remove name="localsqlserver" />
    <add name="localsqlserver" connectionString="Data Source=.;Initial Catalog=AdvSQL;Integrated Security=True"/>
  </connectionStrings>

  <!--<roleManager enabled="true" cacheRolesInCookie="true"
	cookieName="TBHROLES" defaultProvider="Demo_RoleProvider">
    <providers>
      <add connectionStringName="DDL"
      applicationName="/" name="Demo_RoleProvider"
      type="System.Web.Security.SqlRoleProvider, System.Web,
                  Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </providers>
  </roleManager>-->

</configuration>
